<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.app.pro.stage">
  <permission android:name="com.example.app.pro.stage.SOME_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
  <uses-permission android:name="com.example.app.pro.stage.FOO_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
</manifest>
