<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.app.pro.debug">
  <permission android:name="com.example.app.pro.debug.SOME_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
  <uses-permission android:name="com.example.app.pro.debug.FOO_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
</manifest>
