<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.app.free">
  <permission android:name="com.example.app.free.SOME_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
  <uses-permission android:name="com.example.app.free.FOO_PERMISSION" xmlns:android="http://schemas.android.com/apk/res/android"/>
</manifest>
